
@*
    //Slider View Component
*@

<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        
        @await Component.InvokeAsync("CarouselSlideComponent")
        @await Component.InvokeAsync("SpecialOfferComponent")
        @await Component.InvokeAsync("FeaturesComponent")
        @await Component.InvokeAsync("CategoriesComponent")
        @await Component.InvokeAsync("FeaturedProductsComponent")
        @await Component.InvokeAsync("BrandsComponent")
        
        
    </div>
</div>