
@*
    BannerSectionViewComponent
*@

<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="~/malefashion-master/img/banner/banner-1.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>2026 Trendleri</h2>
                        <a href="#">Alışverişe Başla</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="~/malefashion-master/img/banner/banner-2.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Aksesuarlar</h2>
                        <a href="#">Alışverişe Başla</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="~/malefashion-master/img/banner/banner-3.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Ayakkabılar</h2>
                        <a href="#">Alışverişe Başla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>