
@*
    HeaderViewComponent view component
*@

<head>
    <meta charset="UTF-8">
    <meta name="description" content="SwiftShop">
    <meta name="keywords" content="SwiftShop, shopping, fashion">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SwiftShop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/malefashion-master/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion-master/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion-master/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion-master/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion-master/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion-master/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion-master/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion-master/css/style.css" type="text/css">
</head>