
@*
    CategoriesSectionViewComponent
*@

<section class="categories spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="categories__text">
                    <h2>Yeni Kıyafetler <br /> <span>Aksesuarlar</span> <br /> Ayakkabı Koleksiyonu</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    <img src="~/malefashion-master/img/product-sale.png" alt="">
                    <div class="hot__deal__sticker">
                        <span>İndirim</span>
                        <h5>59.99 TL</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown">
                    <span>Haftanın Fırsatı</span>
                    <h2>Çok Cepli Sırt Çantası Kahverengi</h2>
                    <div class="categories__deal__countdown__timer" id="countdown">
                        <div class="cd-item">
                            <span>3</span>
                            <p>Gün</p>
                        </div>
                        <div class="cd-item">
                            <span>1</span>
                            <p>Saat</p>
                        </div>
                        <div class="cd-item">
                            <span>50</span>
                            <p>Dakika</p>
                        </div>
                        <div class="cd-item">
                            <span>18</span>
                            <p>Saniye</p>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Alışverişe Başla</a>
                </div>
            </div>
        </div>
    </div>
</section>