
@*UILayoutController Index View page*@

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("Head")

<body>
    <!-- Page Preloder -->
    @await Component.InvokeAsync("PageLoader")

    <!-- Offcanvas Menu Begin -->
    @await Component.InvokeAsync("OffcanvasMenu")
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    
    <header class="header">
        @await Component.InvokeAsync("HeaderSection")
    </header>
    <!-- Header Section End -->

    <!-- Context -->
    @RenderBody() <!-- the index page that using this page as a layout, will be rendering here. -->
    <!--Context End-->

    <!-- Footer Section Begin -->
    <footer class="footer">
        @await Component.InvokeAsync("FooterSection")
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    @await Component.InvokeAsync("Search")
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="~/malefashion-master/js/jquery-3.3.1.min.js"></script>
    <script src="~/malefashion-master/js/bootstrap.min.js"></script>
    <script src="~/malefashion-master/js/jquery.nice-select.min.js"></script>
    <script src="~/malefashion-master/js/jquery.nicescroll.min.js"></script>
    <script src="~/malefashion-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/malefashion-master/js/jquery.countdown.min.js"></script>
    <script src="~/malefashion-master/js/jquery.slicknav.js"></script>
    <script src="~/malefashion-master/js/mixitup.min.js"></script>
    <script src="~/malefashion-master/js/owl.carousel.min.js"></script>
    <script src="~/malefashion-master/js/main.js"></script>
</body>

</html>
