@model UpdateSpecialOfferDto
@{
    //Update Special Offer View
    ViewData["Title"] = "UpdateSpecialOffer";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>ÖZel Teklif Güncelle</h4>
                <div class="bs-example" data-example-id="bordered-table">

                    <form action="/Admin/SpecialOffer/UpdateSpecialOffer" method="post">
                        <input type="hidden" class="form-control" asp-for="SpecialOfferId" />
                        <label>Başlık</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Alt Başlık</label>
                        <input type="text" class="form-control" asp-for="SubTitle" />
                        <br />
                        <label>Görsel</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Durum</label>
                        <select asp-for="Status" class="form-control">
                            <option value="true">Aktif</option>
                            <option value="false">Pasif</option>
                        </select>
                        <br />
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


