
@*
    OffcanvasMenuViewComponent this view component will be visible when the site get minimized. 
*@

<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="#">Giriş Yap</a>
            <a href="#">SSS</a>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="~/malefashion-master/img/icon/search.png" alt=""></a>
        <a href="#"><img src="~/malefashion-master/img/icon/heart.png" alt=""></a>
        <a href="#"><img src="~/malefashion-master/img/icon/cart.png" alt=""> <span>0</span></a>
        <div class="price">0.00 TL</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Ücretsiz Kargo, 14 Gün İçerisinde İade Garantisi</p>
    </div>
</div>