
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("UIHeaderComponent")

<body>
    <!-- Topbar Start -->
    @await Component.InvokeAsync("UITopbarComponent")
    <!-- Topbar End -->
    <!-- Navbar Start -->
    @await Component.InvokeAsync("UINavbarComponent")
    <!-- Navbar End -->
    <!-- Breadcrumb Start -->
    @RenderBody()
    <!-- Breadcrumb End -->
    <!-- Footer Start -->
    @await Component.InvokeAsync("UIFooterComponent")
    <!-- Footer End -->
    <!-- Back to Top -->
    <!-- JavaScript Libraries -->
    <!-- Contact Javascript File -->
    <!-- Template Javascript -->
    @await Component.InvokeAsync("UIScriptComponent")


</body>

</html>
